{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ event.titre }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ event.debut ? event.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ event.fin ? event.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Descp</th>
                <td>{{ event.descp }}</td>
            </tr>
            <tr>
                <th>All_day</th>
                <td>{{ event.allDay }}</td>
            </tr>
            <tr>
                <th>Id_user</th>
                <td>{{ event.idUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
