{% extends 'layoutBackOffice.html.twig' %}



{% block container %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Gestion User</h1>
        <a href="{{ path('user_listPdf') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate pdf</a>
    </div>
    <!-- Page Heading -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List User</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">afficher profil</a>

                </td>

                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"  class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"  class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                </table>
            </div>
        </div>

        <br>

        {# display navigation #}
        <div class="navigation text-center">
            <h3>  <b>  {{ knp_pagination_render(users) }}</b> </h3>
            <style>
                .text-center {
                    text-align: center!important;
                    margin-left: 530px;
                }
            </style>
        </div>


        <br> <br>
    </div>

</div>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
